<%- include("partials/header.ejs") %>

<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Football News</h1>
      <p class="lead my-3">The latest football news and transfer news from the Premier League, Champions League plus fans sports bet and reaction to wins🥳 & losses😥</p>
    </div>
</div>
<div class="news-cards">
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
          <img class="bd-placeholder-img card-img-top" src="images/Premier League.jpg" alt="Premier League Logo"</>
          <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
          <img class="bd-placeholder-img card-img-top" src="images/Champions League.jpg" alt="Premier League Logo"</>
          <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
          <img class="bd-placeholder-img card-img-top" src="images/Sports Bet.jpg" alt="Premier League Logo"</>
          <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
    </div>
</div>

<div class="latest-news">
    <div class="news-item">
        <div class="latest-card">
            <img src="images/Iceland.jpg" alt="Iceland Won A Football Match And This Announcer Lost His Mind"</>
        </div>
        <div>
            <h5 class="card-title">Iceland Won A Football Match And This Announcer Lost His Mind</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://www.90min.com/posts/chelsea-2024-january-transfer-window-wishlist" class="btn btn-primary">Continue reading...</a>
        </div>
    </div>
    <div class="news-item">
        <div class="latest-card">
            <img src="images/Iceland.jpg" alt="Iceland Won A Football Match And This Announcer Lost His Mind"</>
        </div>
        <div>
            <h5 class="card-title">Iceland Won A Football Match And This Announcer Lost His Mind</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://www.90min.com/posts/chelsea-2024-january-transfer-window-wishlist" class="btn btn-primary">Continue reading...</a>
        </div>
    </div>
    <div class="news-item">
        <div class="latest-card">
            <img src="images/Iceland.jpg" alt="Iceland Won A Football Match And This Announcer Lost His Mind"</>
        </div>
        <div>
            <h5 class="card-title">Iceland Won A Football Match And This Announcer Lost His Mind</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://www.90min.com/posts/chelsea-2024-january-transfer-window-wishlist" class="btn btn-primary">Continue reading...</a>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>
